body {
  min-width: 300px;
  padding: 10px;
}
label {
  position: relative;
}
small#saved {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 3px;
}
/*input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background-color: #c0392b;
  cursor: pointer;
}
input[type="checkbox"]:checked + label span {
  background-color: #2ecc71;
}*/
