body {
    min-width: 300px;
    padding: 10px;
}
label {
    position: relative;
}
small#saved {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 3px;
}
.container {
    width: 970px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
